# Environment
.env
.env.*

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
.venv/



# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
logs/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/
.runner_state.json
